<?php /** @var $block Grudado\Trustvox\Block\Data */
/** @var $_product Magento\Catalog\Helper\Output */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $this->getProduct();
$storeId = $block->getstoreId();
$isProduction = $block->isProduction();
?>
    <!-- Grudado Trustvox Product -->
    <script type="text/javascript">
        window._trustvox = [];
        _trustvox.push(['_storeId', <?php echo $storeId ?>]);
        _trustvox.push(['_productId', '<?php /* @escapeNotVerified */
            echo $block->escapeQuote($block->stripTags($_product->getSku())); ?>']);
        _trustvox.push(['_productName', '<?php /* @escapeNotVerified */
            echo $block->escapeQuote($block->stripTags($_product->getName())); ?>']);
        _trustvox.push(['_productPhotos', '<?php /* @escapeNotVerified */
            echo $block->stripTags($block->getImage($_product, 'product_base_image')->getImageUrl()); ?>']);
    </script>
<?php
if ($isProduction) {
    echo '<script type="text/javascript" async="true" src="https://static.trustvox.com.br/sincero/sincero.js"></script>';
} else {
    echo '<script type="text/javascript" async="true" src="https://static.trustvox.com.br/sincero-staging/sincero.js"></script>';
}
?>