<?php /** @var $block Grudado\Trustvox\Block\Data */?>
<?php
$storeId = $block->getstoreId();
$isProduction = $block->isProduction();

?>
    <!-- Grudado Trustvox -->
<script type="text/javascript">
    var _trustvox_shelf_rate = _trustvox_shelf_rate || [];
    _trustvox_shelf_rate.push(['_storeId', <?php echo $storeId ?>]);
</script>
<?php
if ($isProduction) {
echo '<script type="text/javascript" async="true" src="https://rate.trustvox.com.br/widget.js"></script>';
} else {
    echo '<script type="text/javascript" async="true" src="https://s3-sa-east-1.amazonaws.com/trustvox.staging.widget/widget.js"></script>';
}
?>