<?php /** @var $block Grudado\Trustvox\Block\Data */
/** @var $_product Magento\Catalog\Helper\Output */

?>
<?php
$_product = $this->getProduct();
?>
<div class="trustvox-showcase">
<div class="trustvox-shelf-container" data-trustvox-product-code="<?php /* @escapeNotVerified */
echo $block->escapeQuote($block->stripTags($_product->getSku())); ?>" data-trustvox-display-rate-schema="false"></div>
</div>
